@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //color: white;
}
:root {
  --dark-color: rgb(25, 25, 25);
  --primay-color: white;
  --secondary-color: #f2c110;
}

main {
  height: 100vh;
  background-color: var(--dark-color);
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

nav {
  height: 125px;
  //background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links {
    a {
      color: var(--primay-color);
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.2rem;
      margin-left: 75px;
      font-size: 1.25rem;
      transition: color ease-in-out 200ms;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

section.hero {
  height: 45%;
  //background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .name {
    color: var(--primay-color);
    font-family: "Playfair Display", serif;
    font-size: 11rem;
    margin-left: 1rem;
    line-height: 12rem;
  }

  .byline {
    color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    font-size: 2.25rem;
    letter-spacing: 0.75rem;
    font-weight: 300;
  }
}

.links {
  display: flex;
  height: 35%;
  .arrow {
    width: 50.5%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    a {
      img {
        transition: transform ease-in 100ms;
        &:hover {
          transform: scale(120%);
        }
      }
    }
  }
  .contact-links {
    width: 49.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    a {
      margin-top: 3rem;
      img {
        transition: transform ease-in 50ms;
        &:hover {
          transform: scale(120%);
        }
      }
    }
  }
}
